<table class="table table-condensed">
    <thead>
      <tr>
        <th>Date</th>
        <th>Profile</th>
        <th>Company</th>
        <th>Application Status</th>
        <th>No of Applications</th>
      </tr>
    </thead>
    <% @dashboards.each do |d| %>
    <tbody>
		<tr>
			<td><%= d.date %></td>
			<td><%= d.profile %></td>
			<td></td>
			<td><%= d.application_status %></td>
			<td></td>
		</tr>
	<% end %>
    </tbody>
  </table>
